{% extends "base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}

<div class="faq-wrapper">

<nav class="top-menu">
    <ul>
        <li><a href="{% url 'CreatePresentation:upload_files' %}">Главная</a></li>
    </ul>
</nav>

<div class="faq-container">
    <h1>Часто задаваемые вопросы (FAQ)</h1>

    <div class="faq-item">
        <h3 class="faq-question">Как отправить данные для генерации презентации?</h3>
        <p>Для создания презентации вам потребуется:</p>
        <ul>
            <li>Эксель-файл с данными</li>
            <li>Два скриншота в формате PNG или JPG</li>
        </ul>
        <p><strong>Структура эксель-файла:</strong></p>
        <ol>
            <li>Создайте лист с названием "Для разработчика".</li>
            <li>В столбце А укажите следующие значения:</li>
        </ol>
        <ul>
            <li>Просмотры в поисковой выдаче</li>
            <li>Просмотры в рекомендациях</li>
            <li>Цена просмотра в поисковой выдаче</li>
            <li>Цена просмотра в рекомендациях</li>
            <li>Конверсия в контакт в поисковой выдаче</li>
            <li>Конверсия в контакт в рекомендациях</li>
            <li>Цена контакта в поисковой выдаче</li>
            <li>Цена контакта в рекомендациях</li>
            <li>Оптимальный рекламный бюджет</li>
            <li>Количество контактов</li>
            <li>Средняя стоимость контакта</li>
            <li>Публикация объявлений</li>
            <li>Продвижение объявлений</li>
            <li>Бюджет на просмотры/объявления</li>
            <li>Бюджет на услуги продвижения</li>
            <li>Бюджет на тариф авито</li>
            <li>Стоимость услуг агентства</li>
            <li>Название тарифа</li>
            <li>Суммарный рекламный бюджет</li>
            <li>Ниша</li>
        </ul>
        <p>В столбце B должны быть соответствующие значения.</p>
        <p>Скачать пример Excel-файла можно по <strong><a href="{% static 'files/Образец.xlsx' %}" download>ссылке</a></strong>.</p>

        <h4>Прикрепление изображений:</h4>
        <p>Вы можете загрузить два изображения одновременно. Первое изображение будет вставлено на 9-ю страницу, а второе — на 11-ю. Порядок изображений определяется сортировкой файлов на вашем компьютере во время загрузки.</p>

        <div class="image-example">
            <h5>Пример сортировки файлов:</h5>
            <img src="{% static 'img/Обычный порядок.png' %}" alt="Обычный порядок" class="example-image">
            <p>Обычный порядок: изображения вставляются в последовательности загрузки.</p>
            <img src="{% static 'img/Обратный порядок.png' %}" alt="Обратный порядок" class="example-image">
            <p>Обратный порядок: изображения вставляются в обратной последовательности.</p>
        </div>

        <p>Примеры скриншотов доступны по <strong><a href="{% static 'img/Скриншот для 8 страницы.png' %}" download>первой</a></strong> и <strong><a href="{% static 'img/Скриншот для 10 страницы.png' %}" download>второй</a></strong> ссылкам.</p>

        <h4>Имя сгенерированной презентации:</h4>
        <p>Название PDF-презентации включает в себя название ниши, дату и время формирования.</p>
    </div>
</div>
</div>

{% endblock %}
