{% extends "base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}

<nav class="top-menu">
    <ul>
        <li><a href="{% url 'CreatePresentation:upload_files' %}">Главная</a></li>
    </ul>
</nav>

    <h1>FAQ</h1>
    <h3 class="second_header">Как отправить данные для генерации презентации?</h3>
    <p>
        Это должен быть эксель-файл и два скриншота в формате png или jpg.
    </p>
    <p>Эксель-файл должен содержать лист с названием "Для разработчика". В столбце А должны быть следующие значения:</p>
    <ul>
        <li>Просмотры в поисковой выдаче</li>
        <li>Просмотры в рекомендациях</li>
        <li>Цена просмотра в поисковой выдачи</li>
        <li>Цена просмотра в рекомендациях</li>
        <li>Конверсия в контакт в поисковой выдаче</li>
        <li>Конверсия в контакт в рекомендациях</li>
        <li>Цена контакта в поисковой выдаче</li>
        <li>Цена контакта в рекомендациях</li>
        <li>Оптимальный рекламный бюджет</li>
        <li>Количество контактов</li>
        <li>Средняя стоимость контакта</li>
        <li>Публикация объявлений</li>
        <li>Продвижение объявлений</li>
        <li>Бюджет на просмотры/объявления</li>
        <li>Бюджет на услуги продвижения</li>
        <li>Бюджет на тариф авито</li>
        <li>Стоимость услуг агентства</li>
        <li>Название тарифа</li>
        <li>Суммарный рекламный бюджет</li>
        <li>Ниша</li>
    </ul>
    <p>В столбце B должны быть соответствующие значения</p>
    <p>Пример Excel-файла с правильной структурой, можно скачать по <b><a href="{% static 'files/Образец.xlsx' %}" download>ссылке</a></b></p>
    <p>Два изображения прикрепляются за один раз. Одно из изображений вставится на 9 странице, второе на 11 странице. То, какое куда вставится, зависит от сортировки файлов на вашем компьютере в момент отправки файлов.</p>
    <img src="{% static 'img/Обычный порядок.png'%}" alt="Обычный порядок">
    <p>Такая сортировка вставит скриншоты в обычном порядке</p>
    <img src="{% static 'img/Обратный порядок.png'%}" alt="Обратный порядок">
    <p>Такая сортировка вставит скриншоты в обратном порядке</p>

    <p>Примеры скриншотов можно скачать по <b><a href="{% static 'img/Скриншот для 8 страницы' %}" download>первой</a></b> и <b><a href="{% static 'img/Скриншот для 10 страницы' %}" download>второй</a></b> ссылкам.</p>

    <p>Название сгенерированной pdf-презентации включает в себя название ниши, дату и время формирования презентации</p>

{% endblock %}
